* {
  box-sizing: border-box;
}
body {
  width:100vw;
  height:100vh;
  background:linear-gradient(90deg,#f8d323, #e65d00);
  /* display:flex; */
  /* justify-content: center; */
  position:relative;
}
input:focus {
  outline:1px solid rgb(189, 189, 192);
  outline-offset: 1px;
  border: 1px solid #e86c0a ;
  /* border-radius: 2px; */
}
.search-container {
  width: 30%;
  position:absolute;
  top:50%;
  left:40%;
}
.search-container input,
.search-container .suggestions {
  width:100%;
  margin:0;
}
.search-container input {
  padding: 1.3em 1em;
}
.search-container .suggestions {
  width:100%;
}
ul {
  list-style-type:none;
  padding: 0px;
  margin:0;
}
.has-suggestions {
  background-color: #e65d00;
}
ul li {
 background-color: #f4ae48;
 padding: 1em;
 margin:0px;
}
ul li:hover {
  background-color: #e65d00;
}
input{
  background-color: #f4ae48;
  border:1px solid #f4ae48;
  border-radius: 2px;
  box-shadow: 0 1px 1px #e86c0a;
}
